(players:[(name:"Sergio",skill:11,is_captain:false),(name:"Miojo",skill:18,is_captain:false),(name:"Dunamis",skill:17,is_captain:false),(name:"Kallel",skill:15,is_captain:false),(name:"Storm",skill:16,is_captain:false),(name:"Cracks",skill:9,is_captain:false),(name:"Red",skill:10,is_captain:false),(name:"Limex",skill:7,is_captain:false),(name:"Phz",skill:11,is_captain:false),(name:"Pocoto",skill:11,is_captain:false)],zoom:1.2,team1captain:Some(1),team2captain:Some(4))