(players:[(name:"Cracks",skill:9),(name:"Dunamis",skill:17),(name:"Red",skill:10),(name:"Sergio",skill:11),(name:"Kallel",skill:15),(name:"Storm",skill:16),(name:"Phz",skill:11),(name:"Miojo",skill:18),(name:"Pocoto",skill:11),(name:"Limex",skill:7)],zoom:1.2)